@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.homepage-or {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage-or .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 2051px;
    position: relative;
  }
  
  .homepage-or .div-2 {
    position: absolute;
    width: 1440px;
    height: 90px;
    top: 0;
    left: 0;
  }
  
  .homepage-or .links {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    left: 183px;
  }
  
  .homepage-or .link-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 33px 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .homepage-or .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: rgba(15, 23, 42, 1);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 24px;
    white-space: nowrap;
    font-style: normal;
  }
  
  .homepage-or .link-item-2 {
    position: relative;
    flex: 0 0 auto;
  }
  
  .homepage-or .group {
    position: absolute;
    width: 66px;
    height: 55px;
    top: 20px;
    left: 40px;
  }
  
  .homepage-or .overlap {
    position: relative;
    height: 55px;
  }
  
  .homepage-or .clip-path-group {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 32px;
    left: 0;
  }
  
  .homepage-or .img {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 38px;
    left: 6px;
  }
  
  .homepage-or .clip-path-group-2 {
    position: absolute;
    width: 19px;
    height: 18px;
    top: 0;
    left: 47px;
  }
  
  .homepage-or .group-2 {
    position: absolute;
    width: 24px;
    height: 36px;
    top: 9px;
    left: 8px;
    background-image: url(./img/group-9.png);
    background-size: 100% 100%;
  }
  
  .homepage-or .group-3 {
    position: absolute;
    width: 30px;
    height: 37px;
    top: 8px;
    left: 36px;
    background-image: url(./img/group-5.png);
    background-size: 100% 100%;
  }
  
  .homepage-or .clip-path-group-3 {
    position: absolute;
    width: 58px;
    height: 10px;
    top: 22px;
    left: 8px;
  }
  
  .homepage-or .mask-group {
    position: absolute;
    width: 24px;
    height: 3px;
    top: 26px;
    left: 8px;
    background-image: url(./img/clip-path-group-3.png);
    background-size: 100% 100%;
  }
  
    
  .homepage-or .overlap-group {
    position: absolute;
    width: 572px;
    height: 515px;
    top: 280px;
    left: 156px;
  }
  
  .homepage-or .ellipse {
    position: absolute;
    width: 318px;
    height: 302px;
    top: 0;
    left: 0;
    border-radius: 159px / 151px;
    box-shadow: 0px 4px 4px #00000040;
    background: conic-gradient(
      from 180deg at 50% 50%,
      rgba(151, 71, 255, 0.71) 35%,
      rgba(97, 131, 228, 0.71) 89%
    );
    opacity: 0.76;
  }
  
  .homepage-or .ellipse-2 {
    position: absolute;
    width: 318px;
    height: 302px;
    top: 161px;
    left: 214px;
    border-radius: 159px / 151px;
    transform: rotate(111.32deg);
    box-shadow: 0px 4px 4px #00000040;
    background: conic-gradient(
      from 180deg at 50% 50%,
      rgba(151, 71, 255, 0.71) 35%,
      rgba(97, 131, 228, 0.71) 89%
    );
    opacity: 0.76;
  }
  
  .homepage-or .header {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    position: absolute;
    top: 151px;
    left: 0;
    background-color: transparent;
  }
  
  .homepage-or .content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .homepage-or .text-wrapper-2 {
    position: relative;
    width: 530px;
    margin-top: -1.00px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: rgba(15, 23, 42, 1);
    font-size: 60px;
    letter-spacing: -2.4px;
    line-height: 72px;
    font-style: normal;
  }
  
  .homepage-or .p {
    position: relative;
    width: 419px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: rgba(71, 85, 105, 1);
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    font-style: normal;
  }
  
  .homepage-or .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 14px 20px;
    position: relative;
    flex: 0 0 auto;
    background-color: #9747ff;
    border-radius: 5px;
  }
  
  .homepage-or .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: rgba(248, 250, 252, 1);
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.32px;
    line-height: 20px;
    white-space: nowrap;
    font-style: normal;
  }

  .homepage-or .text-wrapper-4 {
    position: absolute;
    width: 530px;
    height: 72px;
    top: 1088px;
    left: 455px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: -1.28px;
    line-height: 72px;
  }
  
  .homepage-or .group-14 {
    position: absolute;
    width: 1039px;
    height: 353px;
    top: 1244px;
    left: 196px;
    background-color: #ffffff;
    border-radius: 45px;
    border: 1px solid;
    border-color: #5a2a99;
    box-shadow: 0px 4px 25px #5a2a99;
  }
  
  .homepage-or .component {
    top: 79px;
    left: 79px;
    position: absolute;
    width: 242px;
    height: 189px;
    background-color: #ccd5ea;
    border-radius: 5px;
    border: 1px solid;
    border-color: #5a2a99;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .homepage-or .text-wrapper-5 {
    position: absolute;
    width: 101px;
    height: 41px;
    top: 146px;
    left: 69px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.60px;
    line-height: 72px;
    white-space: nowrap;
  }
  
    
  .homepage-or .component-2 {
    top: 79px;
    left: 397px;
    position: absolute;
    width: 242px;
    height: 189px;
    background-color: #ccd5ea;
    border-radius: 5px;
    border: 1px solid;
    border-color: #5a2a99;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .homepage-or .component-3 {
    top: 81px;
    left: 715px;
    position: absolute;
    width: 242px;
    height: 189px;
    background-color: #ccd5ea;
    border-radius: 5px;
    border: 1px solid;
    border-color: #5a2a99;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .homepage-or .footer {
    position: absolute;
    width: 1440px;
    height: 229px;
    top: 1822px;
    left: -4px;
    background-color: #ffffff;
  }
  
  .homepage-or .group-15 {
    position: absolute;
    width: 404px;
    height: 125px;
    top: 55px;
    left: 152px;
  }
  
  .homepage-or .text-wrapper-6 {
    position: absolute;
    width: 335px;
    top: 0;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: rgba(15, 23, 42, 1);
    font-size: 32px;
    letter-spacing: -1.28px;
    line-height: 39px;
  }
  
  .homepage-or .overlap-group-2 {
    position: absolute;
    width: 400px;
    height: 40px;
    top: 85px;
    left: 0;
  }
  
  .homepage-or .text-wrapper-7 {
    position: absolute;
    width: 335px;
    top: 1px;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: rgba(15, 23, 42, 1);
    font-size: 15px;
    letter-spacing: -0.60px;
    line-height: 39px;
  }
  
  .homepage-or .group-16 {
    position: absolute;
    width: 361px;
    height: 150px;
    top: 37px;
    left: 1010px;
  }
  
  .homepage-or .text-wrapper-8 {
    position: absolute;
    width: 109px;
    height: 38px;
    top: 0;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #737373;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.60px;
    line-height: 72px;
    white-space: nowrap;
  }
  
  .homepage-or .overlap-2 {
    position: absolute;
    width: 291px;
    height: 112px;
    top: 38px;
    left: 60px;
  }
  
  .homepage-or .text-wrapper-9 {
    position: absolute;
    width: 291px;
    height: 21px;
    top: 0;
    left: 0;
    font-family: "Inter-SemiBold Italic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #737373;
    font-size: 14px;
    letter-spacing: -0.56px;
    line-height: 39px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .homepage-or .text-wrapper-10 {
    position: absolute;
    height: 39px;
    top: 17px;
    left: 0;
    font-family: "Inter-SemiBold Italic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #737373;
    font-size: 14px;
    letter-spacing: -0.56px;
    line-height: 39px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .homepage-or .text-wrapper-11 {
    position: absolute;
    height: 39px;
    top: 73px;
    left: 0;
    font-family: "Inter-SemiBold Italic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #737373;
    font-size: 14px;
    letter-spacing: -0.56px;
    line-height: 39px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .homepage-or .text-wrapper-12 {
    position: absolute;
    height: 39px;
    top: 45px;
    left: 0;
    font-family: "Inter-SemiBold Italic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #737373;
    font-size: 14px;
    letter-spacing: -0.56px;
    line-height: 39px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .homepage-or .box {
    position: absolute;
    width: 1440px;
    height: 101px;
    top: 90px;
    left: 0;

  }
  
  .box {
    width: 1440px;
    height: 101px;
  }

  .box .BG {
    position: fixed;
    width: 1440px;
    height: 101px;
    top: 0;
    left: 0;
  }

  .box .group {
    position: relative;
    width: 1238px;
    height: 60px;
    top: 19px;
    left: 112px;
  }

  .box .div-3 {
    position: absolute;
    width: 377px;
    height: 44px;
    top: 11px;
    left: 89px;
  }

  .box .text-wrapper-13 {
    position: absolute;
    width: 373px;
    height: 22px;
    top: 0;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }

  .box .text-wrapper-14 {
    position: absolute;
    width: 373px;
    height: 22px;
    top: 22px;
    left: 0;
    font-family: "Inter-SemiBold Italic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .homepage-or .group-17 {
    position: relative;
    width: 1238px;
    height: 60px;
    top: 19px;
    left: 112px;
  }
  
  
  .homepage-or .group-18 {
    position: absolute;
    width: 377px;
    height: 44px;
    top: 11px;
    left: 89px;
  }
  
  .homepage-or .text-wrapper-13 {
    position: absolute;
    width: 373px;
    height: 22px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    white-space: nowrap;
    font-style: normal;
  }
  
  .homepage-or .text-wrapper-14 {
    position: absolute;
    width: 373px;
    height: 22px;
    top: 22px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    white-space: nowrap;
  }
  
